// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.play-off_border{
    border: 2px solid black;
    border-radius: 10px;
    overflow-block: auto;
}

@media (max-width: 1024px) {
    .team_name_play-off{
        display: none;
    }
}

@media (max-width: 770px) {
    .team_name{
        display: none;
    }
    .nav_left_col{
        display: none;
    }
}
